[package]
name = "kepler"
version = "0.1.0"
authors = ["Spruce Systems, Inc."]
edition = "2018"
license = "Apache-2.0"
resolver = "2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0"
async-recursion = "0.3"
base64 = "0.13"
bincode = "1.3"
bs58 = "0.4"
cached = "0.26"
chrono = "0.4"
didkit = "0.3"
ethers-core = "0.6"
hex = "0.4"
ipfs = { git = "https://github.com/spruceid/rust-ipfs", branch = "kepler-staging" }
iri-string = "0.4"
libipld = "0.12"
libp2p = "0.39"
nom = "6"
reqwest = { version = "0.11", features = ["json"] }
rocket = { version = "0.5.0-rc.1", features = ["json"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde_with = { version = "1", features = ["hex"] }
siwe = { git = "https://github.com/spruceid/siwe-rs" }
sled = "0.34"
ssi = "0.3"
thiserror = "1"
tokio = { version = "1", features = ["rt", "macros", "rt-multi-thread"] }
tokio-stream = { version = "0.1", features = ["fs"] }
tokio-util = "0.6.9"
tracing = "0.1"
tracing-subscriber = "0.2"
urlencoding = "2.1"
void = "1"

[dev-dependencies]
tempdir = "0.3.7"
