[package]
name = "kepler"
version = "0.1.0"
authors = ["Spruce Systems, Inc."]
edition = "2018"
license = "Apache-2.0"
resolver = "2"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ipfs-embed = { version = "0.21", default-features = false, features = ["tokio"] }
rocket = { git = "https://github.com/SergioBenitez/Rocket", rev = "0d53e23b", features = ["json"] }
anyhow = "1.0"
ssi = { git = "https://github.com/spruceid/ssi", branch = "fix/zcap-attribute-check", features = ["secp256k1", "secp256r1", "ripemd160", "keccak-hash"] }
did-pkh = { git = "https://github.com/spruceid/ssi", branch = "fix/zcap-attribute-check", package = "did-pkh" }
tokio = { version = "1", features = ["rt", "macros", "rt-multi-thread"] }
nom = "6"
bs58 = "0.4"
serde_json = "1"
serde = { version = "1", features = ["derive"] }
hex = "0.4"
libipld = "0.12"
tokio-stream = { version = "0.1", features = ["fs"] }
cached = "0.23"
base64 = "0.13"
reqwest = { version = "0.11", features = ["json"] }
