[global]
# log_level = "normal"
# port = 8000

## Example of nest config variable: KEPLER_DATABASE_PATH
[global.database]
## Directory where the database will be stored.
# path = "./tmp"

[global.orbits]
## allow unauthorized get requests
# public = true
## Orbit allow list api endpoint
# allowlist = "http://localhost:10000"

[global.apis]
## API for tzkt
# tzkt = "http://localhost:5000"
