[Unit]
Description=Kepler Service (Staging)

[Service]
Type=simple
User=kepler-staging
Group=kepler-staging
Environment=ROCKET_DB_PATH=/data/kepler-staging/storage
Environment=ROCKET_PORT=8001
ExecStart=/opt/kepler/kepler
Restart=always

[Install]
