[Unit]
Description=Kepler Service

[Service]
Type=simple
User=kepler
Group=kepler
Environment=ROCKET_DB_PATH=/data/kepler
Environment=ROCKET_PORT=8000
ExecStart=/opt/kepler/kepler
Restart=always

[Install]
